example/iot-example/flows.json
[{"id":"33cd3498.78ad74","type":"tab","label":"Flujo de recolección de datos","disabled":false,"info":""},{"id":"dd8cb805.8a05c8","type":"tab","label":"Flujo de descisión de datos","disabled":false,"info":""},{"id":"ded765b5.468fa8","type":"tab","label":"Flujo de almacenamiento de datos","disabled":false,"info":""},{"id":"facd47d4.4c19d8","type":"tab","label":"Flujo de comunicación externa","disabled":false,"info":""},{"id":"17135f9f.de2a4","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"a025d0f3.2f028","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"lab12","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"95cfe405.736ba8","type":"mqtt-broker","name":"","broker":"34.71.46.255","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2edee887.789f58","type":"twilio-api","name":"","sid":"AC190cfdfff51219f15ba04a89065b4c63","from":"+14808000865"},{"id":"1e0c3556.ee075b","type":"twilio-api","name":"","sid":"AC190cfdfff51219f15ba04a89065b4c63","from":"+14808000865"},{"id":"4b2e3db4.d95824","type":"telegram bot","botname":"Proyecto_WDJ_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"714451b0.f9dc1","type":"telegram bot","botname":"Proyecto_WDJ_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d78f4443.582d18","type":"telegram bot","botname":"Proyecto_WDJ_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"ab9ad10.7b2b6b","type":"telegram bot","botname":"Proyecto_WDJ_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"c9053c48.96fd5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"37a718f5.a95078","type":"ui_tab","name":"SP32-CAM","icon":"dashboard","disabled":false,"hidden":false},{"id":"7af2d9c8.0a9148","type":"ui_tab","name":"NVR","icon":"dashboard","order":13},{"id":"547701be.6ae8b8","type":"ui_tab","name":"SP32-CAM","icon":"dashboard","disabled":false,"hidden":false},{"id":"d664b139.a07bf","type":"ui_tab","name":"NVR","icon":"dashboard","order":13},{"id":"3878c7a8.09b798","type":"ui_tab","name":"SP32-CAM","icon":"dashboard","disabled":false,"hidden":false},{"id":"e11103ca.4f03f8","type":"ui_tab","name":"NVR","icon":"dashboard","order":13},{"id":"924b63d4.cf64a","type":"ui_tab","name":"SP32-CAM","icon":"dashboard","disabled":false,"hidden":false},{"id":"e417e471.84fb08","type":"ui_tab","name":"NVR","icon":"dashboard","order":13},{"id":"7789e711.e97478","type":"ui_group","name":"SP32 OV2460 - CAPTURE PHOTO","tab":"37a718f5.a95078","order":1,"disp":true,"width":"14","collapse":false},{"id":"a4e54d31.52f99","type":"ui_group","name":"SP32 OV2460 - VIDEO STREAMING","tab":"37a718f5.a95078","order":2,"disp":true,"width":"14","collapse":false},{"id":"b065e518.5cb18","type":"ui_group","name":"SP32 OV2460 - CAPTURE PHOTO","tab":"37a718f5.a95078","order":1,"disp":true,"width":"14","collapse":false},{"id":"a12d92d5.c6ea","type":"ui_group","name":"SP32 OV2460 - VIDEO STREAMING","tab":"37a718f5.a95078","order":2,"disp":true,"width":"14","collapse":false},{"id":"66b18665.51272","type":"ui_group","name":"SP32 OV2460 - CAPTURE PHOTO","tab":"37a718f5.a95078","order":1,"disp":true,"width":"14","collapse":false},{"id":"dd5cac6d.4aa45","type":"ui_group","name":"SP32 OV2460 - VIDEO STREAMING","tab":"37a718f5.a95078","order":2,"disp":true,"width":"14","collapse":false},{"id":"d6aced4c.52e3a","type":"ui_group","name":"SP32 OV2460 - CAPTURE PHOTO","tab":"37a718f5.a95078","order":1,"disp":true,"width":"14","collapse":false},{"id":"679cc5ed.921b74","type":"ui_group","name":"SP32 OV2460 - VIDEO STREAMING","tab":"37a718f5.a95078","order":2,"disp":true,"width":"14","collapse":false},{"id":"3ce79520.7d24ca","type":"postgresDB","name":"pgAdmin","host":"192.168.1.75","port":"5432","database":"DBIoT","ssl":"false","max":"10","min":"1","idle":"1000"},{"id":"6e499f6c.189708","type":"postgresDB","name":"pgAdmin","host":"192.168.1.75","port":"5432","database":"DBIoT","ssl":"false","max":"10","min":"1","idle":"1000"},{"id":"989bda59.91073","type":"postgresDB","name":"pgAdmin","host":"192.168.1.75","port":"5432","database":"DBIoT","ssl":"false","max":"10","min":"1","idle":"1000"},{"id":"6530c24f.9e256c","type":"postgresDB","name":"pgAdmin","host":"192.168.1.75","port":"5432","database":"DBIoT","ssl":"false","max":"10","min":"1","idle":"1000"},{"id":"aa4fe5b8.4eab7","type":"template","z":"33cd3498.78ad74","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img width=\"640\" height=\"480\" src=\"data:image/jpg;base64,{{{payload}}}\">","output":"str","x":700,"y":400,"wires":[["b4887c19.7b638"]]},{"id":"dc9cd0fa.a9eaf8","type":"http request","z":"33cd3498.78ad74","name":"Img SP32-CAM","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.11/capture","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":280,"wires":[["d8523aeb.18ba48","1ebcb0a9.e18f5f"]]},{"id":"50be8417.89bddc","type":"link in","z":"dd8cb805.8a05c8","name":"Imagen antes del analisis","links":["b4a527a8.69e638"],"x":275,"y":380,"wires":[["a8721be8.d23a68"]]},{"id":"b4a527a8.69e638","type":"link out","z":"33cd3498.78ad74","name":"imagen sin procesar","links":["50be8417.89bddc"],"x":935,"y":280,"wires":[]},{"id":"9e59f21c.2c1ff","type":"change","z":"dd8cb805.8a05c8","name":"Setear imagen","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.image","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":380,"wires":[["5eaf0c34.21fe74"]]},{"id":"5b77277d.11506","type":"link out","z":"dd8cb805.8a05c8","name":"imagen post-procesada","links":["2df5702b.68b938","48341e34.1bd8a8"],"x":655,"y":440,"wires":[]},{"id":"adcaf98c.881c1","type":"comment","z":"facd47d4.4c19d8","name":"Si detecta una persona sin mascarilla","info":"","x":610,"y":300,"wires":[]},{"id":"12d64271.87a57e","type":"switch","z":"facd47d4.4c19d8","name":"Comparar deteccion","property":"payload.detected","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":340,"wires":[["159de62b.07b132","61d79ab9.9ec444","b646ea8f.50c2a"]]},{"id":"2df5702b.68b938","type":"link in","z":"facd47d4.4c19d8","name":"Entrada de imagen post-procesada","links":["5b77277d.11506"],"x":135,"y":340,"wires":[["12d64271.87a57e","73d84fd1.2be998"]]},{"id":"61d79ab9.9ec444","type":"function","z":"facd47d4.4c19d8","name":"Configurar notificación a Telegram","func":"msg.payload = {\n    chatId: \"-566259956\", \n    type:\"photo\", \n    content:\"/home/pi/Desktop/fotos/imagen.jpg\", \n    caption:\"Imagen capturada desde el ESP32-CAM con Node-RED en RPI, se dectecto a un sujeto sin mascarilla\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":380,"wires":[["e3a5e753.bf115"]]},{"id":"1ebcb0a9.e18f5f","type":"file","z":"33cd3498.78ad74","name":"Guardar imagen","filename":"/home/pi/Desktop/fotos/imagen.jpg","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":800,"y":280,"wires":[["b4a527a8.69e638"]]},{"id":"9a96c5ef.6f8318","type":"function","z":"facd47d4.4c19d8","name":"Configurar notifiación a Email","func":"msg.topic = \"Imagen capturada\",\nmsg.attachments = {\n                    filename: msg.filename,\n                    content : msg.payload\n                  },\nmsg.payload = \"Imagen capturada desde el ESP32-CAM con Node-RED en RPI, se dectecto a un sujeto sin mascarilla.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":340,"wires":[["b7c67b31.928618"]]},{"id":"159de62b.07b132","type":"change","z":"facd47d4.4c19d8","name":"Setear imagen","rules":[{"t":"set","p":"filename","pt":"msg","to":"\"/home/pi/Desktop/fotos/imagen.jpg\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":340,"wires":[["f6532989.7bfad"]]},{"id":"f6532989.7bfad","type":"file in","z":"facd47d4.4c19d8","name":"Obtener imagen","filename":"","format":"","chunk":false,"sendError":false,"encoding":"none","x":740,"y":340,"wires":[["9a96c5ef.6f8318"]]},{"id":"979c05b5.256508","type":"function","z":"ded765b5.468fa8","name":"Modelar datos","func":"const dayjs = global.get(\"dayjs\");\nlet fecha = dayjs().format(\"YYYY-MM-DD\");\nlet detectado = msg.payload.detected;\nlet prediccion = msg.payload.predictions[1][0];\nlet cantidad = msg.payload.quantity;\nlet threshold = msg.payload.threshold;\nlet foto = msg.payload.image;\n\nif( prediccion == undefined){\n    prediccion = 0;\n}\n\nmsg.params = [fecha, detectado, prediccion, cantidad, threshold, foto];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":340,"wires":[["ca50c9eb.867408"]]},{"id":"48341e34.1bd8a8","type":"link in","z":"ded765b5.468fa8","name":"Entrada de imagen post-procesada","links":["5b77277d.11506"],"x":235,"y":340,"wires":[["c5dcd97f.6f952"]]},{"id":"41dc850d.0b167c","type":"fileinject","z":"33cd3498.78ad74","name":"Inyectar imagen","x":580,"y":220,"wires":[["1ebcb0a9.e18f5f"]]},{"id":"d2ababcb.7eddc","type":"inject","z":"ded765b5.468fa8","name":"Notificacion recurrente","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"86400","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":500,"wires":[["6235e397.519a24"]]},{"id":"6235e397.519a24","type":"function","z":"ded765b5.468fa8","name":"Modelar datos","func":"const dayjs = global.get(\"dayjs\");\nlet fecha = dayjs().format(\"YYYY-MM-DD\");\n\nmsg.params = [fecha];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":500,"wires":[["31e519eb.aaffce","cc4757f6.a597c8"]]},{"id":"23b9f451.fef5a4","type":"comment","z":"facd47d4.4c19d8","name":"Notificacion diaria","info":"","x":650,"y":500,"wires":[]},{"id":"aa883ea.3d72e4","type":"function","z":"facd47d4.4c19d8","name":"Configurar reporte a Telegram","func":"const { fecha, detected, undetected, total } = msg.payload;\n\nmsg.payload = {\n    chatId: \"-566259956\", \n    type:\"message\", \n    };\n    \nmsg.payload.content = `\nReporte diario - IoT mask detector\n\nReporte del dia:\nFecha: ${fecha}\nContabilizados sin mascarilla: ${undetected}\nContabilizados con mascarilla: ${detected}\nTotal de contabilizados: ${total}\n\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":540,"wires":[["e3a5e753.bf115"]]},{"id":"c0127efb.01baa8","type":"function","z":"facd47d4.4c19d8","name":"Configurar reporte a Email","func":"const { fecha, detected, undetected, total } = msg.payload;\n\nmsg.topic = \"Reporte diario -IoT mask detector\",\nmsg.content = msg.payload;\n\nmsg.payload = `\nReporte del dia:\nFecha: ${fecha}\nContabilizados sin mascarilla: ${undetected}\nContabilizados con mascarilla: ${detected}\nTotal de contabilizados: ${total}\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":580,"wires":[["b7c67b31.928618"]]},{"id":"c3913f17.77aca8","type":"function","z":"facd47d4.4c19d8","name":"Modelar reporte","func":"const data = msg.payload.rows[0];\n\nreturn { payload: data };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":580,"wires":[["aa883ea.3d72e4","c0127efb.01baa8","e282c63b.695698","5e836ccf.0c2454"]]},{"id":"83b81ee5.c2dc08","type":"link in","z":"facd47d4.4c19d8","name":"","links":["3523e672.9548aa"],"x":235,"y":580,"wires":[["c3913f17.77aca8"]]},{"id":"3523e672.9548aa","type":"link out","z":"ded765b5.468fa8","name":"Notificar ","links":["83b81ee5.c2dc08"],"x":1015,"y":500,"wires":[]},{"id":"e282c63b.695698","type":"function","z":"facd47d4.4c19d8","name":"Consigurar reporte SMS/WhatsApp","func":"const { fecha, detected, undetected, total } = msg.payload;\n\nmsg.payload = `\nReporte diario - IoT mask detector\nReporte del dia:\nFecha: ${fecha}\nContabilizados sin mascarilla: ${undetected}\nContabilizados con mascarilla: ${detected}\nTotal de contabilizados: ${total}\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":620,"wires":[["1589666d.5ea03a"]]},{"id":"b646ea8f.50c2a","type":"function","z":"facd47d4.4c19d8","name":"Configurar notificación a SMS/WhatsApp","func":"let fecha = new Date();\nlet dia = fecha.getDate() + \"/\" +(fecha.getMonth() + 1) + \"/\" + fecha.getFullYear();\nlet hora = fecha.getHours() + \":\" + fecha.getMinutes() + \":\" + fecha.getSeconds();\nlet diaHora = dia + \" \" + hora;\n\nmsg.payload = `\nNotificación: ${diaHora}\nSe ha detectado a un sujeto sin mascarilla\n`\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":420,"wires":[["e561e7c4.ea7aa"]]},{"id":"b6804a30.fc2bb","type":"debug","z":"dd8cb805.8a05c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"29e46623.d1c2da","type":"mqtt in","z":"facd47d4.4c19d8","name":"","topic":"rpi/detector","qos":"0","datatype":"auto","broker":"95cfe405.736ba8","x":300,"y":80,"wires":[["8be693c9.de1548"]]},{"id":"8be693c9.de1548","type":"debug","z":"facd47d4.4c19d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":80,"wires":[]},{"id":"73d84fd1.2be998","type":"mqtt out","z":"facd47d4.4c19d8","name":"","topic":"rpi/detector","qos":"0","retain":"","broker":"95cfe405.736ba8","x":310,"y":220,"wires":[]},{"id":"c8ac340d.630ae8","type":"comment","z":"facd47d4.4c19d8","name":"Enviar por MQTT con infinidad de aplicaciones...","info":"","x":420,"y":160,"wires":[]},{"id":"5e836ccf.0c2454","type":"debug","z":"facd47d4.4c19d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":660,"wires":[]},{"id":"cc4757f6.a597c8","type":"debug","z":"ded765b5.468fa8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":560,"wires":[]},{"id":"e561e7c4.ea7aa","type":"node-red-contrib-whatsapp-cmb-send-message","z":"facd47d4.4c19d8","name":"Enviar notificación a whatsapp","account":"","text":"payload","inputtypemessage":"msg","rejectssl":false,"x":1170,"y":600,"wires":[[]]},{"id":"1589666d.5ea03a","type":"twilio out","z":"facd47d4.4c19d8","twilio":"2edee887.789f58","twilioType":"sms","url":"","number":"","name":"Enviar SMS a móvil","x":1110,"y":640,"wires":[]},{"id":"e3a5e753.bf115","type":"telegram sender","z":"facd47d4.4c19d8","name":"Enviar notificación a telegram","bot":"4b2e3db4.d95824","haserroroutput":false,"outputs":1,"x":1050,"y":420,"wires":[[]]},{"id":"fc54cc8.8e8edb","type":"ui_button","z":"33cd3498.78ad74","name":"","group":"7789e711.e97478","order":2,"width":"5","height":"1","passthru":false,"label":"Capturar Foto","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"str","x":320,"y":280,"wires":[["dc9cd0fa.a9eaf8"]]},{"id":"b4887c19.7b638","type":"ui_template","z":"33cd3498.78ad74","group":"7789e711.e97478","name":"CAPTURE PHOTO","order":1,"width":"14","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":790,"y":460,"wires":[[]]},{"id":"494f27db.521258","type":"ui_template","z":"33cd3498.78ad74","group":"a4e54d31.52f99","name":"VIDEO STREAMING","order":0,"width":"14","height":"10","format":"<div>\n    <img src=\"http://192.168.1.11:81/stream\" width=\"640\" height=\"480\"/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":800,"y":500,"wires":[[]]},{"id":"ca50c9eb.867408","type":"postgrestor","z":"ded765b5.468fa8","name":"","query":"INSERT INTO data (fecha, detectado, prediccion, cantidad, threshold, foto) VALUES($1,$2,$3,$4,$5,$6);","postgresDB":"3ce79520.7d24ca","output":true,"outputs":1,"x":870,"y":400,"wires":[[]]},{"id":"31e519eb.aaffce","type":"postgrestor","z":"ded765b5.468fa8","name":"","query":"SELECT \nCOUNT(*) as total, \nCOUNT(nullif(detectado,false)) as detected, \nCOUNT(nullif(detectado,true)) as undetected,\nto_char( fecha, 'DD/MM/YYYY') AS fecha\nFROM data \nWHERE fecha = $1\ngroup by fecha;","postgresDB":"3ce79520.7d24ca","output":true,"outputs":1,"x":870,"y":500,"wires":[["3523e672.9548aa","cc4757f6.a597c8"]]},{"id":"b7c67b31.928618","type":"e-mail","z":"facd47d4.4c19d8","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"example@gmail.com","dname":"Email","x":1310,"y":420,"wires":[]},{"id":"5eaf0c34.21fe74","type":"image","z":"dd8cb805.8a05c8","name":"Pre-visualizar imagen","width":"480","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":940,"y":380,"wires":[]},{"id":"d8523aeb.18ba48","type":"base64","z":"33cd3498.78ad74","name":"Convertir buffer a base64","action":"","property":"payload","x":690,"y":340,"wires":[["aa4fe5b8.4eab7"]]},{"id":"c5dcd97f.6f952","type":"base64","z":"ded765b5.468fa8","name":"Convertir buffer a base64","action":"","property":"payload.image","x":410,"y":340,"wires":[["979c05b5.256508"]]},{"id":"a8721be8.d23a68","type":"facemask-detector","z":"dd8cb805.8a05c8","name":"facemask detector","threshold":"0.8","x":460,"y":380,"wires":[["9e59f21c.2c1ff","5b77277d.11506","b6804a30.fc2bb"]]}]